/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* tailwind setup */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --fonts-dark: theme("colors.fonts.dark");
    --fonts-primary: theme("colors.fonts.primary");
    --fonts-secondary: theme("colors.fonts.secondary");
    --fonts-tertiary: theme("colors.fonts.tertiary");
    --bg-primary: theme("colors.backgrounds.primary");
    --bg-secondary: theme("colors.backgrounds.secondary");
    --bg-accent: theme("colors.backgrounds.accent");
    --btn-dark: theme("colors.buttons.dark");
    --btn-primary: theme("colors.buttons.primary");
    --btn-secondary: theme("colors.buttons.secondary");
    --btn-accent: theme("colors.buttons.accent");
    --blur-green: theme("colors.layerBlur.green");
    --blur-yellow: theme("colors.layerBlur.yellow");
    --blur-pink: theme("colors.layerBlur.pink");
    --font-default: theme("fontFamily.sans");
    --font-title: theme("fontFamily.theme");
  }
  /* .bg-hero {
    background-image: url("../assets/img/bg_hero.png");
  } */
}

/* nav*/
.navbar {
  border-color: var(--fonts-tertiary);
}

.nav-bg {
  background-image: url("../assets/img/texture.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  font-family: var(--font-default);
  font-size: 16px;
  color: var(--fonts-primary);
}

.hero-text h1 {
  font-family: var(--font-title);
  font-size: 80px;
  color: var(--fonts-secondary);
}

.hero-text .sub-title {
  font-family: var(--font-default);
  color: var(--fonts-primary);
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.64px;
}

.hero-text .paragraph {
  font-family: var(--font-default);
  color: var(--fonts-tertiary);
}

/* blur bg */
.yellow-blur {
  left: 50rem;
}

.pink-blur {
  right: 23rem;
}

.hero-img img {
  top: -40px;
}
