/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* tailwind setup */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --fonts-dark: theme("colors.fonts.dark");
    --fonts-primary: theme("colors.fonts.primary");
    --fonts-secondary: theme("colors.fonts.secondary");
    --fonts-tertiary: theme("colors.fonts.tertiary");
    --bg-primary: theme("colors.backgrounds.primary");
    --bg-secondary: theme("colors.backgrounds.secondary");
    --bg-accent: theme("colors.backgrounds.accent");
    --bg-tertiary: theme("colors.backgrounds.tertiary");
    --bg-card: theme("colors.backgrounds.cardPrimary");
    --btn-dark: theme("colors.buttons.dark");
    --btn-primary: theme("colors.buttons.primary");
    --btn-secondary: theme("colors.buttons.secondary");
    --btn-accent: theme("colors.buttons.accent");
    --blur-green: theme("colors.layerBlur.green");
    --blur-yellow: theme("colors.layerBlur.yellow");
    --blur-pink: theme("colors.layerBlur.pink");
    --font-default: theme("fontFamily.sans");
    --font-title: theme("fontFamily.theme");
    --card-primary: theme("colors.card.primary");
  }
  /* .bg-hero {
    background-image: url("../assets/img/bg_hero.png");
  } */
}

/* nav*/
.navbar {
  border-color: var(--fonts-tertiary);
}

.nav-bg {
  background-image: url("../assets/img/texture.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  font-family: var(--font-default);
  font-size: 16px;
  color: var(--fonts-primary);
}

.hero-text h1 {
  font-family: var(--font-title);
  font-size: 80px;
  color: var(--fonts-secondary);
}

.hero-text .sub-title {
  font-family: var(--font-default);
  color: var(--fonts-primary);
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.64px;
}

.hero-text .paragraph {
  font-family: var(--font-default);
  color: var(--fonts-tertiary);
}

/* blur bg */
.yellow-blur {
  left: 50rem;
}

.pink-blur {
  right: 23rem;
}

.hero-img {
  margin-top: -2rem;
}

.hero-img img {
  margin-top: 4rem;
}

.card {
  width: 280px;
  height: 350px;
  background: #ffffff;
  border-radius: 24px;
  padding: 18px;
  box-sizing: border-box;
  transform: rotate(5deg);
  margin-top: 6rem;
  margin-left: 12rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}
*/

/* Isi card */
 .inner-box {
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  border-radius: 20px;
}

/* about */
.about_me .services {
  font-family: var(--font-default);
}

/* service */
.services {
  position: relative;
  overflow: hidden;
}

bg-backgrounds-primary .bgServices {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--bg-primary);
}

.blurGreen {
  position: absolute;
  left: 5rem;
  bottom: 56rem;
  width: 11rem;
  height: 11rem;
  background-color: var(--blur-green);
  border-radius: 9999px;
  opacity: 0.5;
  filter: blur(48px);
  z-index: 1;
  pointer-events: none;
}

.blurPink {
  position: absolute;
  left: 90rem;
  bottom: 32rem;
  width: 11rem;
  height: 11rem;
  background-color: var(--blur-pink);
  border-radius: 9999px;
  opacity: 0.5;
  filter: blur(48px);
  z-index: 1;
  pointer-events: none;
}

.services > .content-services {
  position: relative;
  z-index: 2;
}

/* responsive */
@media (min-width: 320px) and (min-width: 480px) {
  .layout-card {
    display: flex;
    flex-direction: column;
  }
  .blurGreen {
    position: absolute;
    left: 2rem;
    bottom: 65rem;
    width: 8rem;
    height: 8rem;
    background-color: var(--blur-green);
    border-radius: 9999px;
    opacity: 0.5;
    filter: blur(48px);
    z-index: 1;
    pointer-events: none;
  }
  .blurPink {
    position: absolute;
    left: 30rem;
    bottom: 51rem;
    width: 8rem;
    height: 8rem;
    background-color: var(--blur-pink);
    border-radius: 9999px;
    opacity: 0.5;
    filter: blur(48px);
    z-index: 1;
    pointer-events: none;
  }

  .portfolio {
    margin: 0 20px 0 20px;
  }
}

@media (min-width: 1024px) and (max-width: 2736px) {
  .services {
    position: relative;
    overflow: hidden;
  }

  bg-backgrounds-primary .bgServices {
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: var(--bg-primary);
  }

  .blurGreen {
    position: absolute;
    left: 23rem;
    bottom: 36rem;
    width: 10rem;
    height: 10rem;
    background-color: var(--blur-green);
    border-radius: 9999px;
    opacity: 0.5;
    filter: blur(48px);
    z-index: 1;
    pointer-events: none;
  }

  .blurPink {
    position: absolute;
    left: 90rem;
    bottom: 32rem;
    width: 11rem;
    height: 11rem;
    background-color: var(--blur-pink);
    border-radius: 9999px;
    opacity: 0.5;
    filter: blur(48px);
    z-index: 1;
    pointer-events: none;
  }

  .services > .content-services {
    position: relative;
    z-index: 2;
  }

  .portfolio {
    margin: 0 160px 0 160px;
  }
}
