/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* tailwind setup */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --fonts-dark: theme("colors.fonts.dark");
    --fonts-primary: theme("colors.fonts.primary");
    --fonts-secondary: theme("colors.fonts.secondary");
    --fonts-tertiary: theme("colors.fonts.tertiary");
    --bg-primary: theme("colors.backgrounds.primary");
    --bg-secondary: theme("colors.backgrounds.secondary");
    --bg-accent: theme("colors.backgrounds.accent");
    --bg-tertiary: theme("colors.backgrounds.tertiary");
    --bg-card: theme("colors.backgrounds.cardPrimary");
    --btn-dark: theme("colors.buttons.dark");
    --btn-primary: theme("colors.buttons.primary");
    --btn-secondary: theme("colors.buttons.secondary");
    --btn-accent: theme("colors.buttons.accent");
    --blur-green: theme("colors.layerBlur.green");
    --blur-yellow: theme("colors.layerBlur.yellow");
    --blur-pink: theme("colors.layerBlur.pink");
    --font-default: theme("fontFamily.sans");
    --font-title: theme("fontFamily.theme");
    --card-primary: theme("colors.card.primary");
  }
  /* .bg-hero {
    background-image: url("../assets/img/bg_hero.png");
  } */
}

/* nav*/
.navbar {
  border-color: var(--fonts-tertiary);
}

.nav-bg {
  background-image: url("../assets/img/texture.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  font-family: var(--font-default);
  font-size: 16px;
  color: var(--fonts-primary);
}

.hero-text h1 {
  font-family: var(--font-title);
  font-size: 80px;
  color: var(--fonts-secondary);
}

.hero-text .sub-title {
  font-family: var(--font-default);
  color: var(--fonts-primary);
  font-size: 32px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: 0.64px;
}

.hero-text .paragraph {
  font-family: var(--font-default);
  color: var(--fonts-tertiary);
}

/* blur bg */
.yellow-blur {
  left: 50rem;
}

.pink-blur {
  right: 23rem;
}

.hero-img {
  margin-top: -2rem;
}

.hero-img img {
  margin-top: 4rem;
}

.card {
  width: 280px;
  height: 350px;
  background: #ffffff;
  border-radius: 24px;
  padding: 18px;
  box-sizing: border-box;
  transform: rotate(5deg);
  margin-top: 6rem;
  margin-left: 12rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}
*/

/* Isi card */
 .inner-box {
  width: 100%;
  height: 100%;
  background: #d9d9d9;
  border-radius: 20px;
}

/* about */
.about_me {
  font-family: var(--font-default);
}
